* {
  box-sizing: border-box;
}
body {
  padding: 0%;
  height: 100vh;
}

/* navbar starts*/
.navbar img {
    height: 4rem;
}
.navbar .navbar-brand {
    padding-left: 3rem;
    padding-right: 3rem;
}
.navbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color:	rgb(153, 102, 0, 0.2);
    box-shadow: 2px 1px #404040;

    
    
}
.navbar .navbar-nav .nav-item .nav-link  {
     color: rgb(255, 255, 255);
    padding-left: 1rem;
    padding-right: 1rem;
   border-right:1px solid #bbb;
    
}


.navbar .navbar-nav .nav-item .nav-link:hover {
    height: auto;
    color: #669999;
/* navbar ends */


/* home */`








 
